.login-logo{
    margin:30px 0 50px 95px;
}
.logo-image{
    width:250px;
    height:56px;
    background-image:var(--background_image);
    background-repeat: no-repeat;
    background-size: contain;
}
.login-box {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}



.login-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    padding-top:60px 0 60px 0;
    border-radius: 20px; 
    box-shadow: 0px 4px 15px 0px #00000040;
}

.login-heading{
    width:80%;   
    margin-bottom:20px; 
}
.login-heading h1{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0em;
    color: var(--primary_color);
}

.login-para{
    width:80%;
    text-align: center;
    margin-bottom:20px;
    font-size:14px;
}


.login-form{
    width:90%;;
}

.input-error{
    color:red;
    font-size:12px;
    margin-top:5px;
}
input[type='email']{
    width:100%;
    border: 1px solid #C1C1C1;
    padding:16px;
    border-radius: 5px;
}

input[type='password']{
    width:100%;
    border: 1px solid #C1C1C1;
    padding:16px;
    border-radius: 5px;
    margin-top: 24px;
}

input[type='email']:focus{
    outline:1px solid #0473E9;
}

input[type='password']:focus{
    outline:1px solid var(--primary_color);
}

.login-forgot-password{
    margin:9px 0px;
    font-size:12px;
    color:var(--primary_color);
    font-weight: 700;
    text-align: right;
    cursor:pointer;
}
.login-button{
    display:flex;
    justify-content: center;
    
}
button[type='submit']{
    color:white;
    font-size:18px;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    background: var(--button_color);
    border:none;
    margin-top:20px;
    cursor:pointer;
}

.link{
    color:white;
    text-decoration: none;
}


@media screen and (max-width:600px) {
    .login-logo{
        display:flex;
        margin:30px 0;
        justify-content: center;
        width:100%;
    }
    
    .login-prompt {
        width: 80%;
        height: fit-content;
        padding:20px 0;
    }
    .login-heading{ 
        margin-bottom:10px; 
    }
    .login-heading h1{
        font-size: 14px;
    }

    .login-para p{
        font-size:10px;
    }
    .login-forgot-password{
        font-size:10px;
        margin-top:5px;
    }
    button[type='submit']{
        font-size:12px;
        width: 200px;
        margin-top:0px;
    }

}