.navbar-fixed-position{
    width:280px;
    background-color: white;
}

.navbar-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:280px;
    height:100%;
    box-shadow: 0px 4px 10px 0px #00000040;
    background-color: white;
    position: fixed;
}

.navbar-logo{
    padding:20px 10px;
    position:relative;
}
.menu-icon{
    display:none;
}
.logo-image{
    width:200px;
    height:56px;
    background-image:var(--background_image);
}

.nav-links{
    list-style-type: none;
    width:222px;
    padding-top:30px;
    border-bottom:1px solid #A3A3A3;;
    border-top:1px solid #A3A3A3;
;
}

li{
    margin:20px 0px 20px 25px;
}

li > a{
    text-decoration: none;
    font-weight: 400;
    color:black;
    font-size:14px;
}

.navbar-container button{
    color:white;
    border:none;
    padding:15px 50px;
    font-size:20px;
    font-weight: 700;
    border-radius:5px;
    margin-top:40px;
    background-color: var(--button_color);
    cursor:pointer;
}

@media screen and (max-width:1200px) {
    .menu-icon{
        display: block;
        width:20px;
        position:absolute;
        right:-20px;
        margin-top:-10px;
        border:1px solid grey;
        border-radius:10px;
    }    
}