*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
    --primary_color:#0473E9;
    --secondary_color:#E6F2FF;
    --button_color:#0473E9;
}

[data-theme='red']{
    --primary_color:#890606;
    --secondary_color:#FFEEEE;
    --button_color:#890606;
}

[data-theme='grey']{
    --primary_color:#0473E9;
    --secondary_color:#5C6670;
    --button_color:#5C6670;
}